.Todo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Todo button {
    height: 25px;
}

.Todo li {
    list-style: none;
}

.Todo-completed {
    color: grey;
    text-decoration: line-through;
}
